
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <h1>Welcome</h1>
        </div>
    </div>
</div>


