<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="LaserlabContext" connectionString="Server=.;Database=LaserlabDb;User Id=sa; Password=y0rk6l3nm4n0r" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>